[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
altair = "*"
plotly = "*"
google-cloud-bigquery = "*"
db-dtypes = "*"
google-cloud = "==0.34.0"

[dev-packages]

[requires]
python_version = "3.8"
